@page "/"

<h1>Hello, world!</h1>

<p>Welcome to Cottage Finder.</p>

<div class="navigation-links">
    <a href="/compass" class="btn btn-primary">Go to Compass</a>
    <a href="/location" class="btn btn-primary">Go to Location Page</a>
    <a href="/bearing" class="btn btn-primary">Go to Bearing Page</a>
    <a href="/cottages" class="btn btn-secondary">View Cottages</a>
</div>
