@page "/"

<h1>Hello, world!</h1>

<p>Welcome to Cottage Finder.</p>

<div class="navigation-links">
    <a href="/cottages" class="btn btn-secondary">View Cottages</a>
    <a href="/sensor-readings" class="btn btn-success">All Sensor Readings</a>
</div>
